body {
    background-color: black;
    width: 90%;
    margin: 0% auto;
}

.heading, .container {
    width: 100%;
    margin: 0% auto;
    text-align: center;
}

.container {
    background-color: #191919;
}

.row {
    display: flex;
}

.column {
    flex: 20%;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #252525;
    color: #909090;
}

img {
    /* max-width: 300px; */
    /* max-height: 300px; */
    /* width: auto;  */
    /* height: auto; */
    max-width:100%;
    margin-top: 5%;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #303030;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: black;
    background-image: url('../images/searchicon.gif');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  .sideBySide {
      float: left;
      padding: .5%;
  }

  .apiBtn {
      padding: .5%;
      margin: 1%;
      background-color: #101010;
      color: white;
      border-color: #252525;
  }

  .censorship {
    filter: blur(20px);
    -webkit-filter: blur(20px);
  }

  .censorship:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }